@import "tailwindcss";

body{
	background-image: url('@/assets/BlackBackground.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
	color:white;
	font-family: 'Inter', sans-serif;
}


.small-outline {
  box-shadow: 0 0 2px 0 white;
}

.card {
  box-shadow: 0 0 2px 0 white;
  background: linear-gradient(to top, black, #FFFFFF0A);
  border-radius: 0.75rem; /* which equals 12px */
}

.card-padding {
    padding-top: 0.75rem;   /* 12px */
	padding-bottom: 0.75rem;
	padding-left: 1rem;     /* 16px */
	padding-right: 1rem;

}
