@import "tailwindcss";

body{
	background-image: url('@/assets/BlackBackground.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
	color:white;
	font-family: 'Inter', sans-serif;
}


.small-outline {
  box-shadow: 0 0 1px 0 white;
}
